{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row h-80">
        <div class="col-md-6 offset-md-3">
            <div style="background-color:red;color:white;padding:50px;margin:200px 10px;text-align:center;opacity: 0.9;">
                <div class="searchbox">
                    <label for="search"><h1 class="display-5 text-black">What are you looking for?</h1></label>
            </div>
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="I am looking for...">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
                <br>
                <h4>e.g. accountant, photographer...</h4>
            </div>
        </div>
    </div>
{% endblock %}