<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gach Aicme
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">Áille agus Spá</a>
                <a href="" class="dropdown-item">Bia agus Deoch</a>
                <a href="" class="dropdown-item">Catharnachta</a>
                <a href="" class="dropdown-item">Ealaíon agus Siamsaíocht</a>
                <a href="" class="dropdown-item">Gluaisteáin</a>
                <a href="" class="dropdown-item">Gníomhairí Eastáit</a>
                <a href="" class="dropdown-item">Na Meáin</a>
                <a href="" class="dropdown-item">Oideachas</a>
                <a href="" class="dropdown-item">Ostáin agus Taisteal</a>
                <a href="" class="dropdown-item">Saol Beo agus Gníomhachas</a>
                <a href="" class="dropdown-item">Saol Sóisialta</a>
                <a href="" class="dropdown-item">Peataí agus Ainmhithe</a>
                <a href="" class="dropdown-item">Éadaí</a>
                <a href="" class="dropdown-item">Sláinte agus Leigheas</a>
                <a href="" class="dropdown-item">Seirbhísí Áitiúla</a>
                <a href="" class="dropdown-item">Seirbhísí Airgeadais</a>
                <a href="" class="dropdown-item">Seirbhísí agus Pleanáil Ócáidí</a>
                <a href="" class="dropdown-item">Seirbhísí Pobail agus Rialtais</a>
                <a href="" class="dropdown-item">Siopadóireacht</a>
                <a href="" class="dropdown-item">Sláinte agus Leigheas</a>
                <a href="" class="dropdown-item">Oideachas</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Táirgí
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Bia</a>
                <a href="" class="dropdown-item">Leabhair</a>
                <a href="" class="dropdown-item">Éadaí</a>
                <a href="" class="dropdown-item">Bréagáin</a>
                <a href="" class="dropdown-item">Cártaí</a>
                <a href="" class="dropdown-item">Cluichí</a>
                <a href="" class="dropdown-item">Ríomhairí</a>
                <a href="" class="dropdown-item">Gutháin</a>
                <a href="" class="dropdown-item">Maisiúcháin</a>
                <a href="" class="dropdown-item">Earraí Tí</a>
                <a href="" class="dropdown-item">Ilghnéitheach</a>
                <a href="" class="dropdown-item">Gach Táirge</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Seirbhísí
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Bed &amp; Bath</a>
                <a href="" class="dropdown-item">Kitchen &amp; Dining</a>
                <a href="" class="dropdown-item">All Homeware</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tairiscintí Faoi Leith
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>