<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-listings-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All categories<span class="caret"></span></a>
                  	<ul class="dropdown-menu border-0" role="menu" aria-labelledby="dropdownMenu" href="{% url 'listings' %}">
                                <li><a href="{% url 'listings' %}?category=beauty_makeup" class="dropdown-item">Beauty & Make-up</a></li>
                                <li><a href="{% url 'listings' %}?category=food_drink" class="dropdown-item">Food and Drink</a></li>
                                <li><a href="{% url 'listings' %}?category=arts" class="dropdown-item">Arts & Entertainment</a></li>
                                <li><a href="{% url 'listings' %}?category=media" class="dropdown-item">Media</a></li>
                                <li><a href="{% url 'listings' %}?category=household" class="dropdown-item">Household Items</a></li>
                                <li><a href="{% url 'listings' %}?category=finservices" class="dropdown-item">Financial Services</a></li>
                                <li><a href="{% url 'listings' %}?category=motoring" class="dropdown-item">Motoring</a></li>
                                <li><a href="{% url 'listings' %}?category=clothes" class="dropdown-item">Clothes</a></li>
                                <li><a href="{% url 'listings' %}?category=health" class="dropdown-item">Health & Medicine</a></li>
                                <li><a href="{% url 'listings' %}?category=professional" class="dropdown-item">Professional Services</a></li>
                                <li><a href="{% url 'listings' %}?category=accommodation" class="dropdown-item">Accommodation</a></li>                                                                                                                             <li><a href="{% url 'listings' %}?category=bed_bath" class="dropdown-item">Motoring</a></li>
                                <li><a href="{% url 'listings' %}?category=transport" class="dropdown-item">Transport</a></li>
                                <li><a href="{% url 'listings' %}?category=computing" class="dropdown-item">Computing</a></li>
                    </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products<span class="caret"></span></a>
                    <ul class="dropdown-menu border-0" role="menu" aria-labelledby="dropdownMenu" href="{% url 'listings' %}">
                          <li class="divider"></li>
                        <li class="dropdown-submenu">
                            <a href="{% url 'listings' %}?category=household" class="dropdown-item">Cleaning &amp; Products</a>
		                	<ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'listings' %}?category=cleaningproducts" class="dropdown-item">Cleaning Spray</a></li>
                			</ul>
                         <li class="divider"></li>
		              	<li class="dropdown-submenu">
		                	<a href="{% url 'listings' %}?category=clothes" class="dropdown-item">Clothes</a>
		                	<ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'listings' %}?category=underwear" class="dropdown-item">Underwear</a></li>
                			</ul>
                    </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services<span class="caret"></span></a>
                  	<ul class="dropdown-menu border-0" role="menu" aria-labelledby="dropdownMenu">
                          <li class="divider"></li>
                        <li class="dropdown-submenu">
                            <a href="{% url 'listings' %}?category=restaurants" class="dropdown-item">Restaurants</a>
		                	<ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'listings' %}?category=chinese" class="dropdown-item">Chinese</a></li>
                                <li><a href="{% url 'listings' %}?category=fast_food" class="dropdown-item">Fast food</a></li>
                                <li><a href="{% url 'listings' %}?category=haute_cuisine" class="dropdown-item">Haute Cuisine</a></li>
                                <li><a href="{% url 'listings' %}?category=irish" class="dropdown-item">Irish</a></li>
                                <li><a href="{% url 'listings' %}?category=italian" class="dropdown-item">Italian</a></li>
                			</ul>
                         <li class="divider"></li>
		              	<li class="dropdown-submenu">
		                	<a href="{% url 'listings' %}?category=hairdressers" class="dropdown-item">Hairdressers</a>
		                	<ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'listings' %}?category=curl_up" class="dropdown-item">Curl Up and Dye</a></li>
                			</ul>
		              	<li class="dropdown-submenu">
		                	<a href="{% url 'listings' %}?category=web_designers" class="dropdown-item">Web designers</a>
		                	<ul class="dropdown-menu" role="menu">
		                  		<li><a href="{% url 'listings' %}?category=web_designers" class="dropdown-item">Irish WebHQ</a></li>
                			</ul>
                            <li class="divider"></li>
                    </ul>
        </li>
    </ul>
</div>

<script>
    $(document).ready(function(){
$('.dropdown-submenu>a').unbind('click').click(function(e){
$(this).next('ul').toggle();
e.stopPropagation();
e.preventDefault();
});
});
</script>